.container, .container-fluid, .row {
    padding: 0;
}
.row {
    margin: 0;
}
.btn-warning{
    background-color: #F3613C;
}
.btn {
    border-radius: 20px 20px 20px 20px;
    color: white;
}
.btn:hover{
    opacity: 0.60;
    background-color: #F3613C !important;
    color: white !important;
}

#img-fond {
    background-image: url(img/bg-simplify-section-desktop.svg);
    background-size: cover;
    background-repeat: no-repeat;
}

ul {
    list-style-type: none;
}
ul li a{
    display: block;
    text-decoration: none;
    color: black;
}
a:hover {
    opacity: 0.60;
    text-decoration: none;
}
.button-number {
    border: 1px solid #F3613C;
    width: 10%;
    border-radius: 20px 20px 20px 20px;
    background-color: #F3613C;
    padding-left: 19px;
    color: white;
    position: relative;
    top: 22px;
}
.img-position {
    position: relative;
    left: 36%;
    bottom: 5em;
}
.position-h6 {
    position: relative;
    bottom: 3em;
}
.position-p {
    position: relative;
    bottom: 3em;
}
.btn-position {
    display: flex;
}
.bg-secondary {
    background-color: beige !important;
    width: 20%;
}
.bg-danger {
    background-color: #F3613C !important;
}
.text-danger {
    color: #F3613C !important;
}
input {
    border-radius: 20px 20px 20px 20px;
}