.container, .container-fluid, .row {
    padding: 0;
}
.row {
    margin: 0;
}
.btn-warning{
    background-color: #F3613C;
}
.btn {
    border-radius: 20px 20px 20px 20px;
    color: white;
}
.btn:hover{
    opacity: 0.60;
    background-color: #F3613C !important;
    color: white !important;
}

#img-fond {
    background-image: url(img/bg-simplify-section-desktop.svg);
    background-size: cover;
    background-repeat: no-repeat;
}

ul {
    list-style-type: none;
}
ul li a{
    display: block;
    text-decoration: none;
    color: black;
}
a:hover {
    opacity: 0.60;
    text-decoration: none;
}
.button-number {
    border: 1px solid #F3613C;
    width: 10%;
    border-radius: 20px 20px 20px 20px;
    background-color: #F3613C;
    padding-left: 19px;
    color: white;
    position: relative;
    top: 22px;
}
.img-position {
    position: relative;
    left: 36%;
    bottom: 5em;
}
.position-h6 {
    position: relative;
    bottom: 3em;
}
.position-p {
    position: relative;
    bottom: 3em;
}
.btn-position {
    display: flex;
}
.bg-secondary {
    background-color: beige !important;
    width: 20%;
}
.bg-danger {
    background-color: #F3613C !important;
}
.bg-red {
    background-color: #FFFEFE !important;
}
.text-danger {
    color: #F3613C !important;
}
input {
    border-radius: 20px 20px 20px 20px;
}
#nav {
    display: none;
    z-index: 9999;
    position: absolute;
    margin: auto;
    top: 100px;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100px;
    height: 215px;
    border-radius: 5px 5px 5px 5px;
}
#toggle_btn {
    cursor: pointer;
}


@media screen and (max-width: 992px) {
    #responsive-desktops {
        display: none !important;
    }
    #responsive-menu {
        display: flex !important;
    }
    .section-md {
        display: none !important;
    }
    .section-sm-carousel {
        display: block !important;
    }
  }
@media screen and (min-width: 992px) {
    #responsive-desktops {
        display: flex !important;
    }
    #responsive-menu {
        display: none !important;
    }
    .section-md {
        display: block !important;
    }
    .section-sm-carousel {
        display: flex !important;
    }
  }
@media screen and (max-width: 565px) {
    .button-number {
        padding-left: 15px;
        width: 15%;
    }
    .center-text {
        text-align: center;
        width: 100% !important;
    }
    .img-position {
        position: relative;
        left: 30%;
        bottom: 0em;
    }
    .position-h6 {
        position: relative;
        bottom: 0em;
        margin-top: 10px;
    }
    .position-p {
        position: relative;
        bottom: 0em;
    } 
    .position-indicators {
        border-radius: 50%;
        width: 10px !important;
        height: 10px !important;
        position: relative;
        top: 50px;
        background-color: #F3613C !important;
    }
    
}